body{
    padding: 0;
    margin: 0;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
     list-style:none;
}
#menu_control{
  position: absolute;
  z-index: -2;
  opacity: 0;
}
input[type=checkbox] {
            display: none;
        }
.frame{
    display:flex;
}
.header{
    height: 50px;
    position: relative;
}
.logo{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    font-size: 20px;
}
.menu_btn{
    width:40px;
    height:40px;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
}
.menu_btn span{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
.menu_btn:before{
    content: '';
    position: absolute;
    height: 2px;
    left:2px;
    width: 36px;
    background-color: #aaa;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #aaa,
                0px -8px 0px #aaa;
}
nav{
    font-size: 20px;
    width: 50%;
    height: calc(28vh - );
    background-color: #F0F0F0;
    position: absolute;
    top: 50px;
    left: -100%;
    transition: .5s;
}
nav a{
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  border-bottom: 1px solid #ADADAD;
}
#menu_control:checked ~ .header nav{
  left: 0;
}
.head{
    display:flex;
    justify-content:flex-start;
    background-color:#003344;font-size:20px;
    text-align:center;
}
.subhead{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color:#d7eff9;
    font-size:40px;
    height:300px;
}
.title{
    style=height:43px;
    background-color:#d7eff9;
    font-size:20px;
    text-align:center;
    margin-bottom:15px;
}
.bob-container{
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bob-row{
  margin-right: -15px;
  margin-left: -15px;
}

.bob-row:before,.bob-row:after{
  display: table;
  content: " ";
}

.bob-row:after{
  clear: both;
}

/*4個並排 在767px以下會2個排列
.bob-4item{
  width:90%;
}
*/
.object-fit {
  object-fit: cover;
}
.bob-4item{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float:left;
  width: 270px;
  height: 272px;

}

.bob-4item img{
  width:100%;
  height: 80%;
  display: block;
}

@media (max-width: 600px) {
  .bob-container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .bob-4item {
    width:100%;
  }
  .logo{
    width: 150px;
    height: 40px;
    top: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .bob-container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .bob-4item {
    width:50%;
    display: block;
  }
  .menu_btn{
    display:none;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    width: 150px;
    height: 30px;
    align-items: center;
    display: flex;
    margin-left: 10px;
    width: 150px;
    height: 30px;
  }
  nav{
    position: relative;
    left: 0;
    display: flex;
    width: auto;
    height: auto;
    top: 0;
    background-color: transparent;
  }
  nav a{
    border-bottom: none;
  }
}

@media (min-width: 1200px) {
  .bob-container {
    width: 1200px;
  }
  .bob-4item {
    width:25%;
    display: block;
  }
  .menu_btn{
    display:none;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    width: 100px;
    width: 150px;
    height: 30px;
  }
  nav{
    position: relative;
    left: 0;
    display: flex;
    width: auto;
    height: auto;
    top: 0;
    background-color: transparent;
  }
  nav a{
    border-bottom: none;
  }
}
